.header {
  grid-area: h;
  background-color: green;
}
.headerImg img {
  width: 50px;
}
a.activeLink {
  color: gold;
}
.loginBlock {
  float: right;
  color: white;
}
.loginBlock a {
  color: white;
}
