.header_image img {
  width: 100%;
  height: 300px;
}
.userData {
  padding: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainPhoto {
  width: 150px;
  /* border-radius: 50%; */
}
